RewriteEngine on


RewriteRule    ^admin/(.*)															index.php?admin=1&$1


RewriteRule		^data/cache/tpl_conf												/ [R]
RewriteRule		^data/cache/tpl_c													/ [R]
RewriteRule		^data/cache/tpl														/ [R]
RewriteRule		^data/cache/conf													/ [R]
RewriteRule		^app																/ [R]
RewriteRule		^tpl																/ [R]

<Files ~ "\.tpl$">
	Order allow,deny
	Deny from all
</Files>
