/*

THEME

*/

html, body {
	height: 100%; /* 100% HEIGHT "HACK" */
}

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #2c2c2c;
	background: #f1f1f1;
}

/*

HEADER

*/

.site_header {
	background: white;
	border-bottom: 1px solid #dedede;
	height: 81px;

	&:after {
		.clear();
	}

	/* LOGO */
	.logo {
		position: relative;
		float: left;
		width: 250px;
		height: 80px;
		background: #34aaed;
		transition: 500ms;
		
		&.closed {
			width: 85px;
		}

		h1 {
			position: absolute;
			top: 20px;
			left: 80px;
			font-size: 30px;
			font-weight: 600;
			color: white;
			overflow: hidden;
			white-space: nowrap;
			width: 130px;
			transition: 500ms;

			small {
				font-size: 11px;
				color: #005c90;
			}
		}
		
		&.closed h1 {
			width: 0;
		}

		.hotdog {
			position: absolute;
			top: 20px;
			left: 20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border: 1px solid rgba(255,255,255,0.3);
			border-radius: 4px;
			cursor: pointer;
			text-decoration: none;
			color: rgba(255,255,255,0.8);
			transition: 200ms;

			&:hover {
				background: white;
				border-color: white;
				color: #34aaed;
			}

			&.active {
				background: #1f85bf;
				border-color: #1f85bf;
				color: white;
			}

			&:before {
				font-family: FontAwesome;
				font-size: 18px;
				content: "\f0c9";
			}
		}
	}

	& > .inside {
		padding: 20px;
		overflow: hidden;
		line-height: 40px;
		color: #626262;

		.user {
			float: left;

			.avatar {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				float: left;
				margin-right: 15px;
			}

			.logged {
				overflow: hidden;

				a {
					font-weight: bold;
					color: #34aaed;
					text-decoration: none;

					&:hover {
						color: black;
					}
				}
			}
		}

		.actions {
			float: right;

			a {
				display: inline-block;
				padding: 0 15px;
				line-height: 40px;
				font-size: 13px;
				color: inherit;
				text-decoration: none;
				cursor: pointer; /* DEBUG ONLY */

				&:hover {
					background: rgba(0,0,0,0.03);
				}

				&:active {
					color: #34aaed;;
				}

				&:before {
					font-family: FontAwesome;
					margin-right: 5px;
					
					@media (max-width:767px){
						margin: 0;
					}
				}

				&.notifications:before {
					content: "\f071";
				}

				&.settings:before {
					content: "\f013";
				}

				&.logout:before {
					content: "\f08b";
				}
				
				// ONLY ICONS FOR SMALL DEVICES
				@media (max-width:767px){
					span {
						display: none;
					}
				}
			}
		}
	}
}

/*

CONTENT

*/
.site_content {
	position: relative;
	min-height: 100%;
	padding-left: 250px;
	transition: 500ms padding;

	&.closed {
		padding-left: 85px;
	}

	&:after {
		.clear();
	}

	& > .sidebar {
		position: absolute;
		top: -1px;
		left: 0;
		bottom: 0;
		width: 250px;
		background: #242425;
		overflow: hidden;
		transition: 500ms;

		&.closed {
			width: 85px;
		}

		ul.menu {
			list-style: none;
			padding: 10px 0;
			width: 250px;

			li {
				position: relative;
				display: block;

				a {
					position: relative;
					display: block;
					padding: 15px 35px 15px 60px;
					font-size: 13px;
					color: white;
					text-decoration: none;
					transition: 500ms padding;

					&:hover {
						background: #1c1c1f;
					}

					&:before {
						position: absolute;
						top: 9px;
						left: 17px;
						width: 30px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						content: "";
						background: #1c1c1f;
						font-family: FontAwesome;
						color: rgba(255,255,255,0.3);
						transition: 500ms;
					}

					&:hover:before {
						color: rgba(255,255,255,0.8);
					}

					&.dashboard:before {
						content: "\f1fe";
					}

					&.settings:before {
						content: "\f013";
					}

					&.layout:before {
						content: "\f12e";
					}

					&.users:before {
						content: "\f007";
					}

					&.pages:before {
						content: "\f15b";
					}

					&.forum:before {
						content: "\f03a";
					}
				}

				& > .arrow {
					position: absolute;
					top: 0;
					right: 0;
					width: 40px;
					height: 48px;
					line-height: 48px;
					cursor: pointer;
					text-align: center;
					color: rgba(255,255,255,0.5);

					&:hover {
						//background: #1c1c1f;
						color: white;
					}

					&:before {
						font-family: FontAwesome;
						font-size: 11px;
						content: "\f078";
					}

					&.active:before {
						content: "\f077";
					}
				}

				& > ul {
					list-style: none;
					background: #1c1c1f;
					display: none;

					li {
						a {
							font-size: 12px;
							color: #c2c2c2;

							&:hover {
								color: white;
							}

							&:before {
								background: #242425;
								width: 27px;
								height: 27px;
								line-height: 27px;
							}

							&.database:before {
								content: "\f1c0";
							}

							&.performance:before {
								content: "\f1fe";
							}

							&.admins:before {
								content: "\f0f0";
							}

							&.users:before {
								content: "\f0c0";
							}

							&.banlist:before {
								content: "\f256";
							}

							&.whitelist:before {
								content: "\f087";
							}

							&.topics:before {
								content: "\f27a";
							}

							&.reports:before {
								content: "\f071";
							}
						}
					}
				}

				&.opened > ul {
					display: block;
				}
			}

			&.closed > li > a {
				padding: 20px 0 20px 85px;

				&:before {
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 15px;
					left: 20px;
					top: 10px;
				}
			}

			&.closed > li > ul {
				display: none; /* OVERRIDE EVEN OPENED MENUS */
			}
		}
	}

	& > .content {
		padding: 20px;

		& > header {
			margin: -20px -20px 0px -20px;
			padding: 20px 20px 20px 20px;

			& > h1 {
				padding: 0;
				margin: 0;
				font-size: 30px;
				font-weight: 500;
				color: #34aaed;
			}
		}
	}
}

