/*

UI

*/


@font-face {
	font-family: 'FontAwesome';
	src: url('/theme/admin/fonts/fontawesome/fontawesome-webfont.eot?v=4.4.0');
	src: url('/theme/admin/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
	url('/theme/admin/fonts/fontawesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
	url('/theme/admin/fonts/fontawesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
	url('/theme/admin/fonts/fontawesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
	url('/theme/admin/fonts/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*

UI PAGEPATH

*/
.ui_pagepath {
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.07);

	&:after {
		.clear();
	}

	li {
		display: inline;
		font-size: 12px;

		&:before {
			font-family: FontAwesome;
			content: "\f105";
			padding-right: 7px;
			padding-left: 3px;
			font-size: 12px;
			color: #747474;
		}

		&:first-child:before {
			font-family: FontAwesome;
			content: "\f015";
			padding-right: 7px;
			font-size: 12px;
		}

		a {
			padding: 0 4px;
			text-decoration: none;
			color: #626262;

			&:hover {
				color: #34aaed;
			}
		}

		&:last-child > a {
			font-weight: bold;
			color: black;
		}
	}
}

/*

UI WIDGET

*/
.ui_widget {
	padding: 15px 20px 20px 20px;
	margin: 15px 0;
	background: white;
	border-radius: 5px;

	&.dark {
		background: #1b1b1b;
		color: #d9d9d9;
	}

	&.blue {
		background: #34aaed;
		color: white;
	}

	&:after {
		.clear();
	}

	& > header {

		&:after {
			.clear();
		}

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-size: 17px;
			line-height: 30px;
			font-weight: 500;
			float: left;
		}

		.actions {
			float: right;

			& > a {
				display: block;
				float: left;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				text-decoration: none;
				color: #c8c8c8;

				&:hover {
					color: inherit;
					background: rgba(0,0,0,0.05);
					border-radius: 3px;
				}

				&:before {
					font-family: FontAwesome;
				}

				&.add:before {
					content: "\f067";
				}

				&.edit:before {
					content: "\f040";
				}

				&.toggle:before {
					content: "\f078";
				}

				&.toggle {
					transition: 300ms transform;
				}

				&.toggle.active {
					transform: rotate(180deg);
				}
			}
		}
	}

	&.dark > header > .actions > a:hover {
		background: rgba(255,255,255,0.1);
		color: white;
	}

	&.blue > header > .actions > a {
		color: white;
	}

	& > .content {
		padding: 10px 0 0 0;

		&:after {
			.clear();
		}
	}

	&.closed > .content {
		display: none;
	}
}


/*

	UI BOX

*/
.ui_box {
	position: relative;
	background: #FBFBFB;
	border: 1px solid #F3F3F3;
	margin: 10px 0;
	overflow: hidden;
	border-radius: 5px;

	& > .header {
		padding: 10px;
		background: #34aaed;
		border-radius: 5px;
		color: white;
		overflow: hidden;

		&:after {
			display: block;
			width: 100%;
			content: "";
			clear: both;
		}

		.title {
			font-size: 13px;
			font-weight: bold;
			float: left;
		}

		.actions {
			float: right;
			margin: -10px;

			a {
				display: inline-block;
				width: 38px;
				height: 38px;
				line-height: 38px;
				text-align: center;

				&:before {
					font-family: FontAwesome;
					font-size: 15px;
				}

				&:hover {
					background: rgba(0,0,0,0.2);
				}

				&.close {
					cursor: pointer;
				}

				&.close:before {
					content: "\f0d8";
				}

				&.close.active {
					transform: rotate(180deg);
				}
			}
		}
	}

	& > .content {
		padding: 20px;
	}

	&.closed > .content {
		display: none;
	}
}


/*

	INFORMATIONAL TEXTS

*/
.ui_text {
	position: relative;
	padding: 20px 0 20px 100px;

	@media (max-width:900px){
		padding: 20px 0 20px 20px;
	}

	&.simple {
		padding: 20px 0;
	}

	&:before {
		position: absolute;
		top: 40px;
		left: 15px;
		font-family: FontAwesome;
		font-size: 50px;
		width: 50px;
		text-align: center;
	}

	&.info:before {
		content: "\f129";
		color: @color_info;
	}

	&.info:after {
		background: @color_info;
	}

	&.warning:before {
		content: "\f12a";
		color: @color_edit;
	}

	&.warning:after {
		background: @color_edit;
	}

	&.error:before {
		content: "\f00d";
		color: @color_delete;
	}

	&.error:after {
		background: @color_delete;
	}

	&.confirm:before {
		content: "\f00c";
		color: @color_confirm;
	}

	&.confirm:after {
		background: @color_confirm;
	}

	@media (max-width:900px){
		&:after {
			position: absolute;
			top: 20px;
			left: 0;
			bottom: 20px;
			width: 5px;
			content: "";
		}

		&:before {
			display: none;
		}
	}

	& > .title {
		padding: 0 0 5px 0;
		font-size: 15px;
		font-weight: 600;
	}

	&.info > .title {
		color: @color_info;
	}

	&.warning > .title {
		color: @color_edit;
	}

	&.error > .title {
		color: @color_delete;
	}

	&.confirm > .title {
		color: @color_confirm;
	}

	& > p {}
}

/*

	UI MESSAGE

*/
.ui_message {
	position: relative;
	margin: 10px 0;
	padding: 15px 15px 15px 20px;
	background: white;
	overflow: hidden;
	border-radius: 5px;

	&.closed {
		display: none;
	}

	&:before {
		position: absolute;
		top: -20px;
		left: -20px;
		width: 40px;
		height: 40px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		content: "";
	}

	&.info:before {
		background: @color_info;
	}

	&.warning:before {
		background: @color_edit;
	}

	&.error:before {
		background: @color_delete;
	}

	&.confirm:before {
		background: @color_confirm;
	}

	& > .title {
		font-size: 16px;
		font-weight: 500;
		padding: 0 0 5px 0;
	}

	&.info > .title {
		color: @color_info;
	}

	&.warning > .title {
		color: @color_edit;
	}

	&.error > .title {
		color: @color_delete;
	}

	&.confirm > .title {
		color: @color_confirm;
	}

	& > a.close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		color: #949494;

		&:hover {
			color: #535353;
		}

		&:before {
			font-family: FontAwesome;
			font-size: 16px;
			line-height: 16px;
			content: "\f00d";
		}
	}
}

/*

UI GALLERY

*/
.ui_gallery {
	margin: 15px 0 0 0;
	&:after {
		.clear();
	}

	.item {
		background: white;
		border-radius: 5px;
		padding: 5px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;

		&:before {
			position: absolute;
			top: -20px;
			right: -20px;
			width: 40px;
			height: 40px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			content: "";
		}

		&.border {
			border: 1px solid #e2e2e2;
		}

		&.flag_red:before {
			background: @color_delete;
		}

		&.flag_green:before {
			background: @color_confirm;
		}

		&.flag_blue:before {
			background: @color_info;
		}

		.move {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor: move;
			border-right: 1px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(0,0,0,0.1);
			border-radius: 0 0 5px 0;
			background: rgba(255,255,255,0.8);
			color: #585858;

			&:hover {
				background: #f7f7f7;
				color: #313131;
			}

			&:before {
				font-family: FontAwesome;
				font-size: 17px;
				content: "\f047";
			}
		}

		&:hover .move {
			display: block;
		}

		a.image {
			display: block;
			width: 100%;
			height: 150px;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;

			div {
				width: 100%;

				img {
					display: block;
					max-width: 100%;
					max-height: 150px;
					display: block;
					margin: 0 auto;
				}
			}
		}

		.name {
			height: 38px;
			padding: 10px;
			margin-right: 80px;
			overflow: hidden;
			font-size: 13px;
			white-space: nowrap;

			@media (max-width:1400px){
				text-align: center;
				margin-right: 0;
				padding-bottom: 5px;
				height: auto;
			}
		}

		.options {
			@media (min-width:1401px){
				position: absolute;
				bottom: 9px;
				right: 9px;
				float: right;
			}

			@media (max-width:1400px){
				text-align: center;
			}

			a {
				display: block;
				float: left;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				text-decoration: none;
				color: #7c7c7c;

				@media (max-width:1400px){
					display: inline-block;
					float: none;
				}

				&:hover {
					color:#353535;
				}

				&:before {
					font-family: FontAwesome;
					font-size: 17px;
				}

				&.edit:before {
					content: "\f040";
				}

				&.remove:before {
					content: "\f1f8";
				}
			}
		}
	}
}


/*

UI HORIZONTAL MENU

*/
.ui_horizontal_menu {
	margin: 15px 0;
	background: white;
	border-bottom: 2px solid #e2e2e2;

	&:after {
		.clear();
	}

	& > ul {
		list-style: none;
		float: left;

		&.right {
			float: right;
		}

		& > li {
			float: left;
			position: relative;

			&:before {
				position: absolute;
				top: 10px;
				left: 0;
				bottom: 10px;
				content:"";
				border-left: 1px solid rgba(0,0,0,0.1); 
			}

			&:first-child:before {
				display: none;
			}

			& > a {
				position: relative;
				display: block;
				padding: 15px;
				font-size: 13px;
				color: #2c2c2c;
				text-decoration: none;

				&:before {
					font-family: FontAwesome;
					font-weight: normal;
					padding-right: 10px;
				}

				&.add:before {
					content: "\f067";
				}

				&.edit:before {
					content: "\f040";
				}

				&.search:before {
					content: "\f002";
				}

				&:hover {
					color: #34aaed;
				}
			}

			&.active > a {
				font-weight: bold;
				color: #34aaed;
			}

			&.tab.active > a:after {
				position: absolute;
				bottom: 0;
				left: 50%;
				content: "";
				margin-left: -7.5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7.5px 7px 7.5px;
				border-color: transparent transparent #e2e2e2 transparent;
			}
		}
	}
}

/* CONTENT AREA UNDER HORIZONTAL MENU - IDEAL FOR FORMS */
.ui_horizontal_menu_content {
	margin: -15px 0 15px 0;
	overflow: hidden;
	background: white;
	border-radius: 0 5px 5px 0;
	padding: 15px;
}


/*

UI FORM

*/
.ui_form {
	hr {
		margin: 15px 0;
		border: 0;
		border-top: 2px solid #e2e2e2;
	}

	.item {
		padding: 7.5px 0;
		margin: 0 -15px;

		&:after {
			.clear();
		}

		.label {
			text-align: right;
			padding: 10px 15px;
			font-size: 14px;

			&.required:after {
				color: @color_delete;
				content:" *";
			}

			@media (max-width:767px){
				&.col-xs-12 {
					text-align: left;
					padding-bottom: 5px;
				}
			}

			@media (max-width:991px){
				&.col-sm-12 {
					text-align: left;
					padding-bottom: 5px;
				}
			}

			@media (max-width:1199px){
				&.col-md-12 {
					text-align: left;
					padding-bottom: 5px;
				}
			}

			@media (min-width:1200px){
				&.col-lg-12 {
					text-align: left;
					padding-bottom: 5px;
				}
			}
		}

		.info {
			padding: 11px 15px;
			font-size: 12px;
			color: gray;
			padding-left: 0;

			@media (max-width:767px){
				&.col-xs-12 {
					padding-left: 15px;
					padding-top: 4px;
				}
			}

			@media (max-width:991px){
				&.col-sm-12 {
					padding-left: 15px;
					padding-top: 4px;
				}
			}

			@media (max-width:1199px){
				&.col-md-12 {
					padding-left: 15px;
					padding-top: 4px;
				}
			}

			@media (min-width:1200px){
				&.col-lg-12 {
					padding-left: 15px;
					padding-top: 4px;
				}
			}
		}

		.input {
			input {
				width: 100%;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 10px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;

				&[disabled]{
					background:#f2f2f2;
				}

				&[readonly]{
					background:#f2f2f2;
					cursor: text;
				}

				&:focus {
					color: black;
				}
			}

			textarea {
				width: 100%;
				max-width: 100%;
				max-height: 500px;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 10px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;

				&[disabled]{
					background:#f2f2f2;
				}

				&[readonly]{
					background:#f2f2f2;
					cursor: text;
				}

				&:focus {
					color: black;
				}
			}

			select {
				width: 100%;
				height: 37px;
				border: 1px solid #e2e2e2;
				border-radius: 3px;
				padding: 9px;
				font-family: inherit;
				font-size: 13px;
				color: #555555;
				cursor: pointer;

				&:focus {
					color: black;
				}
			}
		}
	}
}

/*

UI BUTTONS

*/
.ui_button {
	position: relative;
	line-height: 32px;
	padding: 0 15px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-family: inherit;
	font-size: 13px;
	overflow: hidden;
	background: @btn_color_default;
	color: white;

	&:hover,
	&:before {
		background: darken(@btn_color_default,10%);
	}

	&.ico {
		padding-left: 45px;
	}

	&.blue {
		background: @btn_color_info;

		&:hover,
		&:before {
			background: darken(@btn_color_info,10%);
		}
	}

	&.green {
		background: @btn_color_confirm;

		&:hover,
		&:before {
			background: darken(@btn_color_confirm,10%);
		}
	}

	&.orange {
		background: @btn_color_edit;

		&:hover,
		&:before {
			background: darken(@btn_color_edit,10%);
		}
	}

	&.red {
		background: @btn_color_delete;

		&:hover,
		&:before {
			background: darken(@btn_color_delete,10%);
		}
	}

	&.dark {
		background: @btn_color_dark;

		&:hover,
		&:before {
			background: darken(@btn_color_dark,10%);
		}
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 30px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-family: FontAwesome;
	}

	&.confirm:before {
		content: "\f00c";
	}

	&.edit:before {
		content: "\f040";
	}

	&.delete:before {
		content: "\f00d";
	}

	&.view:before {
		content: "\f06e";
	}
}